<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Add Project</ion-text>
      </ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content class="card-background-page">
  <ion-card no-margin>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12">
          <ion-list margin-bottom>
            <form [formGroup]="addprojectForm" (ngSubmit)="addProject()">
              <ion-item>
                <ion-label color="dark" position="stacked">Name:</ion-label>
                <ion-input inputmode="text" placeholder="Project name" formControlName="name" value=""></ion-input>
              </ion-item>
              <p ion-text class="text08"
                *ngIf="addprojectForm.get('name').touched && addprojectForm.get('name').hasError('required')">
                <ion-text color="warning">
                  Required Field
                </ion-text>
              </p>
              <ion-item>
                <ion-label color="dark" position="stacked">Description</ion-label>
                <ion-textarea inputmode="text" placeholder="Project Description" formControlName="description" value="">
                </ion-textarea>
              </ion-item>
              <!-- <p ion-text class="text08"
                *ngIf="addprojectForm.get('description').touched && addprojectForm.get('description').hasError('required')">
                <ion-text color="warning">
                  Required Field
                </ion-text>
              </p> -->
              <ion-item>
                <ion-label color="dark">Skills Required</ion-label>
                <ion-select multiple="true" formControlName="skills">
                  <ion-select-option value={{skill.id}} *ngFor="let skill of skills">{{skill.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label color="dark">Referred By</ion-label>
                <ion-select formControlName="refrenced_by">
                  <ion-select-option value="{{user.id}}" *ngFor="let user of users">{{user.first_name}}
                    {{user.last_name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label color="dark">Client</ion-label>
                <ion-select formControlName="client_id">
                  <ion-select-option value="{{client.id}}" *ngFor="let client of clients">{{client.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label color="dark">Assign Freelancers</ion-label>
                  <ion-select multiple="true" formControlName="total_freelancer">
                    <ion-select-option value="{{freelancer.id}}" *ngFor="let freelancer of freelancers">{{freelancer.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              <ion-button size="large" expand="full" color="dark" type="submit" [disabled]="!addprojectForm.valid" no-margin>Add Project</ion-button>
            </form>
          
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>