<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Freelancers</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content class="card-background-page">
 
    <ion-row class="outerRow">
      <ion-col size="12" class="searchText">
        <div>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
        </div>
      </ion-col>
      <ion-col size="3"  class="searchDrop">
        <div>
            <ion-select class="selectBox" [(ngModel)]="searchType">
                <ion-select-option value="name">Name</ion-select-option>
                <ion-select-option value="skill">Skill</ion-select-option>
              </ion-select>
        </div>
      </ion-col>
    </ion-row>

  
  <ion-list>
    <ion-item *ngFor="let freelancer of freelancers" (click)="goto(freelancer.id)">
      <ion-label class="callAction">
        <h2>{{freelancer.name}}</h2>
        <h3>{{freelancer.designation}}</h3>
        <p>{{freelancer.experience}}</p>
        <app-star name="{{freelancer.rating}}"></app-star>
        <div style="overflow: scroll">
          <span *ngIf="skill">
            <ion-badge color="primary">html</ion-badge>
          </span>
          <ion-badge *ngIf="!skill" color="primary">Not listed</ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>