<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <h1 class="fw500">{{userdata.first_name}} {{userdata.last_name}}</h1>
      <h2 color="light" margin-bottom>{{userdata.roles}}</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="code-working"></ion-icon> 
        Change Password
      </ion-button>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
            <form [formGroup]="userForm" (ngSubmit)="editUser()">
              <ion-item>
                <ion-label color="dark" position="stacked">First Name:</ion-label>
                <ion-input inputmode="text" formControlName="first_name" placeholder="Ex..: Joe">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">Last Name:</ion-label>
                <ion-input inputmode="text" formControlName="last_name" placeholder="Ex..: Doe">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">Email:</ion-label>
                <ion-input inputmode="text" formControlName="email" disabled=true placeholder="Ex..: some@some.com">
                </ion-input>
              </ion-item>
              <hr>
              <ion-button type="submit" size="large" [disabled]="!userForm.valid" expand="full" color="dark" no-margin>Edit</ion-button>
            </form>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>
  {{userdata | json}}
  {{userForm.value | json}}
</ion-content>